header {
    background-color: #05c46b;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #1e272e;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

img {
    width: 60px;
    height: 60px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-family: "Fira code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #575fcf;
}

#button {
    display: inline-block;
    background-color: #575fcf;
    box-shadow: 5px 5px 0px #1e272e;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 300ms cubic-bezier(0.46, 0.54, 0.82, 2.29);
    margin: 0px;
}

  #button:hover {
    background-color: #3c40c6;
    box-shadow: 7px 7px 1px #1e272e;
    transform: scale(1.03);
}
