header {
    background-color: #05c46b;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #1e272e;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

img {
    width: 60px;
    height: 60px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-family: "Fira code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #575fcf;
}

#button {
    display: inline-block;
    background-color: #575fcf;
    box-shadow: 5px 5px 0px #1e272e;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 300ms cubic-bezier(0.46, 0.54, 0.82, 2.29);
    margin: 0px;
}

#button:hover {
    background-color: #3c40c6;
    box-shadow: 7px 7px 1px #1e272e;
    transform: scale(1.03);
}
div {
    width: 627px;
    height: 184px;
    background-color: #485460;
    margin-left: 91px;
    margin-top: 116px;
    box-shadow: 10px 10px 0px #000;
}

h1 {
    color:#575fcf;
    text-shadow: 4px 4px 0px #000;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin: 0px;
    display: flex;
    position: absolute;
    top: 238px;
    left: 241px;
    font-weight: 400;
}

h2 {
    color: #FFF;
    text-shadow: 4px 4px 0px #000;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    margin: 0px;
    position: absolute;
    left: 131px;
    top: 306px;
    font-weight: 400;
}