.main-title {
    color:#575fcf;
    text-shadow: .4rem .4rem 0 #000;
    font-family: "Press Start 2P", sans-serif;
    font-size: 3.8rem;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}