.main-banner {
    background-color: #0fbcf9;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 80rem;
    border-bottom: 1rem solid #1e272e;
    background-image: url('../../assets/img/clouds.png');
    align-items: center;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 77rem;
}

.main-banner .title-box {
    margin-bottom: 4rem;
}

.main-banner .navigation {
    justify-content: space-around;
    display: flex;
}