.main-action {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    color: #FFF;
    text-decoration: none;
    margin-right: 3rem;
}

.main-action::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    background-color: #575fcf;
}

.main-action:hover {
    color: #575fcf;
}
