.section-box {
    padding-top: 50px;
}

.section-box.-skill {
    background-color: #575fcf;
    padding-bottom: 100px;
    border-bottom: 10px solid #05c46b;
}

.section-box.-skill .main-title {
    margin-bottom: 60px;
}

.section-box.-projects {
    padding-bottom: 100px;
    background-color: #1e272e;
    border-bottom: 10px solid #575fcf;
}

.section-box.-projects .main-title {
    margin-bottom: 50px;
}

.section-box.-about {
    background-color: #05c46b;
    border-bottom: 10px solid #FFF;
    padding-bottom: 50px;
}

.section-box.-about .main-title {
    margin-bottom: 65px;
}