.title-box {
    display: inline-block;
    background-color: #485460;
    box-shadow: 1rem 1rem 0 #000;
    text-align: center;
    padding: 4.3rem 4.4rem;
}

.title-box .main-title {
    margin-bottom: 2.8rem;
}